
:root {
    --lightgray: #f1f5f9;
    --white : #fff;
    --black : #212121;
}
.darkmode {
    background-color: var(--black);
    color:var(--white);
}

body {
    background-color: var(--white);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
a:hover {
    text-decoration: none;
}
.outline {
    font-weight:700;
    font-size: 2.5rem;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#search {
    border:none;
    height:100px;
    font-size:2rem;
    font-weight: 800;
    color: black;
    -webkit-text-fill-color: #f8f9fa; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#search:focus {
    outline: none !important;
    box-shadow: none;
}
#search::placeholder {
    font-size:2rem;
    font-weight: 800;
    color: var(--black);
    opacity: 0.8;
}


/* ==============================
header post
==================================== */
.header_content {
    position: absolute;
    bottom:30px;
    left:30px;
    right:30px;
}
.header_content h1 {
    font-weight: 800;
    font-size: 1.65rem;
}
.headers_content h1 {
    font-size:1.125rem;
    font-weight:800;
}


.project_img {
    position:relative;
}
.project_content {
    padding:8px
}
.project_content h2 {
    font-size: 1.125rem;
    font-weight: 700;
}


.__category_badge {
    border:1px solid #e0e0e0;
    padding: 8px 12px;
    border-radius: 50px;
    color: var(--black);
}


/* gradient */

.gradient {
    position: absolute;
    background-image: linear-gradient(to top, #000,transparent);
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.header_post:hover , .project_post:hover, .singlePopularPost:hover , .tutorial:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.project_content h5 {
    font-size:1.19rem;
    font-weight: 800;
    color:var(--black);
} 
.headers_content h2 {
    font-size: 0.9rem;
    color:var(--black);
    font-weight: 700;
}

.tutorial_content h2 {
    font-size: 1.7rem;
    color:var(--black);
    font-weight: 800;
}



/* navbar */
#navbar {
    background-color: var(--white);
}
#navbar ul li a {
    font-weight: 500;
    font-size: 0.9rem;
    word-spacing: 2px;
    color:var(--black)
}
.mobile_menu {
    display: none;
}
@media screen and (max-width: 999px) {
    .navbar-nav {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
  }


  /* mobile */
.mobile_sidebar {
    width: 0px;
    background: var(--white);
    position: fixed;
    overflow-x: hidden;
    transition: 0.2s;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 9999;
    line-height: 1.15;
    overflow-x: none;
}
.mob_top {
    border-bottom: 3px solid #eceff1;
    padding: 10px;
}

.cs-site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    -webkit-animation: fade .5s;
    animation: fade .5s;
    z-index: 99;
}



.mobile_sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #eceff1;
}
.mobile_sidebar ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 1.2rem;
    display: inherit;
    padding:10px;
}

.mobile_sidebar .menu-primary {
    margin:20px;
    padding: 0px;
}